@use 'media-query';

.main-container {
  display: grid;
  min-height: 100vh;
  place-content: center;
}

.main {
  width: min(640px, calc(100vw - 32px));
  margin: 0 auto;
}

.footer {
  margin-top: 64px;

  @media screen and (min-height: 780px) {
    position: absolute;
    bottom: 8px;
    width: 100vw;
  }
}

.member-list {
  display: grid;
  margin-top: 16px;
  place-items: center;

  @include media-query.tb {
    position: fixed;
    top: 16px;
    right: 16px;
    margin-top: 0;
  }
}
