.main-container {
  display: grid;
  min-height: 100vh;
  place-content: center;
}

.main {
  width: min(640px, calc(100vw - 32px));
  margin: 0 auto;
}

.footer {
  margin-top: 64px;

  @media screen and (min-height: 780px) {
    position: absolute;
    bottom: 8px;
    width: 100vw;
  }
}
