.social-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.social-link {
  display: inline-flex;
  align-items: center;

  & > *:not(:last-child) {
    margin-right: 4px;
  }
}
